<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="mail_email" value="your-email@gmail.com" />
    <add key="mail_pass" value="your-password" />
    <!-- It's recommended to use app secrets or encrypted values for storing passwords -->
    <add key="mail_smtp" value="smtp.gmail.com" />
    <add key="mail_smtpport" value="587" />
    <add key="SSL" value="true" />
    <!-- SSL should be true for Gmail -->
    <add key="sender_name" value="NO-REPLY" />
    <add key="log_file_loc" value="C:\\temp\\logfile.txt" />
    <!-- Keep for flexibility -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
